.btn {
    padding: 19px 50px 19px 50px;
    border-radius: 8px;
    background: linear-gradient(95.61deg, #42da23 0%, #E2B438 100%);
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(95.61deg, #42da23e1 0%, #e2b538d8 100%);
}


.btn-text {
    color: #191411;
    font-family: Gilroy, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.05px;
    text-align: center;
}